/* tiny MCS buttons */
.mce-ico.mce-i-us_columns {
	background-image: url(../../tinymce/columns.png);
	}
.mce-ico.mce-i-us_typography {
	background-image: url(../../tinymce/type.png);
	}


/* Demo Importer styles */

.w-message {
	padding: 40px;
	margin: 20px auto;
	text-align: center;
	max-width: 500px;
	background: #fff;
	}
	.w-message-title {
		line-height: 1.3;
		margin: 20px 0;
		}
	.w-message.success .w-message-title {
		margin: 10px 0 20px;
		color: #59ba41;
		}
	.w-message.success .w-message-text {
		font-size: 16px;
		}
	
.w-importer {
	padding: 30px;
	margin: 20px 20px 0 0;
	background: #fff;
	}
@media only screen and (max-width: 782px) {
	.w-importer { margin: 10px 10px 0 0; }
	}
@media only screen and (max-width: 568px) {
	.w-importer { padding: 10px; }
	}
	.w-importer-title {
		text-align: center;
		line-height: 1.3;
		margin: 5px 0 25px;
		}
	.w-importer-list {
		overflow: hidden;
		margin-bottom: 30px;
		}
		.w-importer-item {
			float: left;
			width: 20%;
			text-align: center;
			position: relative;
			-moz-box-sizing: border-box;
				 box-sizing: border-box;
			}
		/* responsive */
		@media only screen and (max-width: 1366px) {
			.w-importer-item { width: 25%; }
			}
		@media only screen and (max-width: 1024px) {
			.w-importer-item { width: 33.3333%; }
			}
		@media only screen and (max-width: 768px) {
			.w-importer-item { width: 50%; }
			}
		@media only screen and (max-width: 480px) {
			.w-importer-item { width: 100%; }
			}
			.w-importer-item-radio {
				position: absolute;
				visibility: hidden;
				}
			.w-importer-item-title {
				margin: 0;
				padding: 5px 0 20px;
				}
			.w-importer-item-preview {
				display: block;
				padding: 20px 20px 65px;
				border: 1px solid transparent;
				}
			.w-importer-item:hover .w-importer-item-preview {
				border-color: #ccc;
				}
			.w-importer-item-radio:checked + .w-importer-item-preview {
				border-color: #59ba41;
				box-shadow: 0 0 0 2px #59ba41 inset;
				}
				.w-importer-item-radio:checked + .w-importer-item-preview:before {
					displaY: block;
					content: "\f147";
					font: 40px/1 'dashicons';
					position: absolute;
					top: 0;
					left: 0;
					background-color: #59ba41;
					color: #fff;
					}
				.w-importer-item-radio:checked + .w-importer-item-preview h2 {
					color: #59ba41;
					}
				.w-importer-item-preview img {
					display: block;
					max-width: 100%;
					margin: 0 auto;
					}
			.w-importer-item-btn {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 25px;
				}
	.w-importer-option {
		font-size: 14px;
		margin-bottom: 20px;
		}
		.w-importer-option-title {
			font-weight: 600;
			}
		.w-importer-option-desc {
			opacity: 0.5;
			}
	.w-importer-error {
		margin: 25px 0;
		padding: 20px 20px 10px;
		background: #FFD9D9;
		color: #A24141;
		}
		.w-importer-error p {
			margin: 0 0 10px;
			}
	.w-importer-note {
		margin: 25px 0;
		padding: 20px 20px 10px;
		background: #DBF2FF;
		color: #5e6a76;
		}
		.w-importer-note p {
			margin: 0 0 10px;
			}
	.w-importer .button-primary.size_big {
		font-size: 16px;
		padding: 0 22px;
		height: 38px;
		}
